<template>
  <div>
    <h1>Админ-панель</h1>
    <!-- Кнопка для добавления новой статьи -->
    <button @click="showAddArticleModal">Добавить статью</button>
    <!-- Модальное окно для добавления статьи -->
    <div v-if="showAddArticleModalFlag" class="modal">
      <div class="modal-content">
        <span class="close" @click="closeModal">&times;</span>
        <h2>Добавить статью</h2>
        <!-- Форма для добавления статьи -->
        <!-- Необходимые поля: заголовок, изображение, текст, автор -->
        <input v-model="newArticle.title" placeholder="Заголовок">
        <input v-model="newArticle.imageUrl" placeholder="URL изображения">
        <textarea v-model="newArticle.text" placeholder="Текст статьи"></textarea>
        <input v-model="newArticle.author" placeholder="Автор">
        <button @click="addArticle">Добавить</button>
      </div>
    </div>
    <!-- Список существующих статей с возможностью редактирования и удаления -->
    <div v-for="article in articles" :key="article.id">
      <h2>{{ article.title }}</h2>
      <button @click="editArticle(article)">Редактировать</button>
      <button @click="deleteArticle(article.id)">Удалить</button>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import {useAuthStore} from "@/stores/counter";

export default {
  data() {
    return {
      showAddArticleModalFlag: false,
      newArticle: {
        title: '',
        imageUrl: '',
        text: '',
        author: '',
      },
      articles: [], // Список существующих статей
    };
  },
  methods: {
    showAddArticleModal() {
      this.showAddArticleModalFlag = true;
    },
    closeModal() {
      this.showAddArticleModalFlag = false;
    },
    async addArticle() {
      try {
        try {
          const authStore = useAuthStore(); // Получаем доступ к хранилищу авторизации
          const token = authStore.getAccessToken(); // Получаем Bearer токен

          const headers = {
            Authorization: `Bearer ${token}`,
          };
          const response = await axios.post('http://localhost:8080/api/v1/articles', this.newArticle,{headers});
          this.articles.push(response.data); // Добавляем новую статью в список
          this.closeModal(); // Закрываем модальное окно
        } catch (error) {
          console.error(error);
        }
      }catch (error){
        console.error(error)
      }
    },
    async editArticle(article) {
      try {
        const authStore = useAuthStore(); // Получаем доступ к хранилищу авторизации
        const token = authStore.getAccessToken(); // Получаем Bearer токен

        const headers = {
          Authorization: `Bearer ${token}`,
        };
        const response = await axios.put('http://localhost:8080/api/v1/articles', this.newArticle,{headers});
        this.articles.push(response.data); // Добавляем новую статью в список
        this.closeModal(); // Закрываем модальное окно
      }catch (error){
        console.error(error)
      }
      // Реализуйте редактирование статьи по аналогии с добавлением
    },
    async deleteArticle(articleId) {
      try {
        const authStore = useAuthStore(); // Получаем доступ к хранилищу авторизации
        const token = authStore.getAccessToken(); // Получаем Bearer токен

        const headers = {
          Authorization: `Bearer ${token}`,
        };
        await axios.delete(`http://localhost:8080/api/v1/articles/${articleId}`,{headers});
        this.articles = this.articles.filter(article => article.id !== articleId); // Удаляем статью из списка
      } catch (error) {
        console.error(error);
      }
    },
    async loadArticles() {
      try {
        const authStore = useAuthStore(); // Получаем доступ к хранилищу авторизации
        const token = authStore.getAccessToken(); // Получаем Bearer токен

        const headers = {
          Authorization: `Bearer ${token}`,
        };
        const response = await axios.get('http://localhost:8080/api/v1/articles',{headers});
        this.articles = response.data;
      } catch (error) {
        console.error(error);
      }
    },
  },
  mounted() {
    this.loadArticles(); // Загрузка списка статей при загрузке страницы
  },
};
</script>

<style>
/* Стили для модального окна и других элементов */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
</style>