<template>
  <div>
    <h2>Страница администратора</h2>
    <button @click="assignAdminRole">Назначить администратором</button>
    <!-- Другие элементы интерфейса для администратора -->
  </div>
</template>

<script>
export default {
  methods: {
    assignAdminRole() {
      // Реализуйте функциональность назначения администратора здесь
    },
  },
};
</script>