<template>
  <div>
    <form @submit.prevent="submitArticle">
      <label for="title">Название статьи:</label>
      <input v-model="articleData.title" type="text" id="title" required>

      <label for="content">Содержание:</label>
      <textarea v-model="articleData.content" id="content" required></textarea>

      <button type="submit">Создать статью</button>
    </form>
  </div>
</template>

<script>
import { ref } from 'vue';
import { useStore } from '../stores/counter';

export default {
  setup() {
    const store = useStore();

    const articleData = ref({
      title: '',
      content: '',
    });

    const submitArticle = async () => {
      try {
        const response = await fetch('/api/v1/articles', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'Authorization': `Bearer ${store.state.authToken}`
          },
          body: JSON.stringify(articleData.value),
        });

        if (response.ok) {
          const createdArticle = await response.json();
          store.actions.setArticles([...store.state.articles, createdArticle]);
          // Опционально: сбросить поля формы
          articleData.value.title = '';
          articleData.value.content = '';
        } else {
          console.error('Ошибка при создании статьи:', response.statusText);
        }
      } catch (error) {
        console.error('Ошибка при создании статьи:', error);
      }
    };

    return {
      articleData,
      submitArticle,
    };
  },
};
</script>