<template>
  <div>
    <div class="login-container">
      <h1 class="login-title">Вход</h1>
      <form @submit.prevent="loginUser" class="login-form">
        <div class="form-group">
          <label for="username">Имя пользователя:</label>
          <input type="text" id="username" v-model="loginData.username" required class="form-input">
        </div>
        <div class="form-group">
          <label for="password">Пароль:</label>
          <input type="password" id="password" v-model="loginData.password" required class="form-input">
        </div>
        <button type="submit" class="submit-button">Войти</button>
      </form>
      <router-link to="/home" class="home-button">Перейти на главную страницу</router-link>
      <div v-if="loginMessage" class="login-message">{{ loginMessage }}</div>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
import {useAuthStore} from '@/stores/counter.js';
import {useRouter} from 'vue-router'; // Импорт роутера
export default {
  data() {
    return {
      loginData: {
        username: '',
        password: '',
        accessToken: ''
      },
      loginMessage: ''
    };
  },
  methods: {
    async loginUser() {
      try {
        const authStore = useAuthStore();
        const response = await axios.post('http://localhost:8080/api/v1/auth/login', this.loginData);
        localStorage.removeItem('token');
        localStorage.setItem('token', response.data.accessToken)
        console.log(response.data.accessToken)
        authStore.setAccessToken(response.data.accessToken); // Сохранение токена в хранилище Pinia
        this.loginMessage = 'Успешный вход!';
        const user = response.data.user;
        authStore.setCurrentUser(user);
        this.loginMessage = 'Успешный вход!';
        authStore.saveLoginResponse(response);
        // Дополнительная логика после успешного входа, например, перенаправление пользователя
      } catch (error) {
        this.loginMessage = 'Ошибка входа. Пожалуйста, проверьте данные и попробуйте снова.';
        console.error(error);
      }
    }
  }
};
</script>

<style scoped>
.login-container {
  border: 1px solid #d1cab8;
  border-radius: 5px;
  max-width: 600px;
  margin: 0 auto;
  padding: 40px;
  background-color: #f5f5f5; /* Цвет фона контейнера */
}
.login-title {
  font-size: 24px;
  color: #333; /* Цвет текста */
  margin-bottom: 20px;
}

.login-form {
  background-color: #f5f5f5; /* Цвет фона формы */
  padding: 20px;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

.form-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc; /* Цвет рамки инпутов */
  border-radius: 3px;
}

.submit-button {
  background-color: #007bff; /* Цвет кнопки */
  color: #fff; /* Цвет текста на кнопке */
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
}

.login-message {
  margin-top: 10px;
  color: #ff0000; /* Цвет текста сообщения об ошибке */
}

.home-button {
  background-color: #007bff; /* Цвет фона кнопки */
  color: #fff; /* Цвет текста */
  border: none; /* Убираем рамку */
  border-radius: 3px; /* Скругленные углы */
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 20px;
  margin-bottom: 20px;
}

.home-button:hover {
  background-color: #0056b3; /* Более темный цвет при наведении */
}
</style>