<template>
  <div class="comment-form">
    <textarea v-model="commentText" rows="4" placeholder="Введите комментарий..."></textarea>
    <button @click="submitComment">Отправить</button>
  </div>
</template>
<script>
import axios from "axios";

export default {
  data(){
    return{
      commentText: '',
    };
  },
  methods:{
    async submitComment() {
      const token = localStorage.getItem('token')// Получаем Bearer токен

      const headers = {
        Authorization: `Bearer ${token}`,
      };
      const response = await axios.post(`http://localhost:8080/api/v1/comments`, {
        commentText: 'Ваш текст комментария', // Замените на текст вашего комментария
      }, {headers});
      this.commentText='';
    }
  }
}
</script>
<style scoped>
/* Стили для формы комментария */
.comment-form {
  margin-top: 10px;
}

.comment-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
}

.comment-form button {
  margin-top: 5px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.comment-form button:hover {
  background-color: #0056b3;
}
</style>