<template>
  <div>
    <h2>Комментарии</h2>
    <!-- Отображение комментариев -->
    <ul>
      <li v-for="comment in comments" :key="comment.id">
        <div>{{ comment.author.username }} написал(а):</div>
        <div>{{ comment.text }}</div>
        <div>{{ comment.writtenDate }}</div>
      </li>
    </ul>

    <!-- Форма для добавления комментария (если пользователь авторизован) -->
    <div v-if="isLoggedIn">
      <textarea v-model="newCommentText"></textarea>
      <button @click="addComment">Добавить комментарий</button>
    </div>

    <!-- Сообщение, если пользователь не авторизован -->
    <div v-else>
      <p>Чтобы оставить комментарий, пожалуйста, войдите в аккаунт.</p>
    </div>
  </div>
</template>

<script>
import axios from 'axios';
export default {
  data() {
    return {
      comments: [],        // Список комментариев
      newCommentText: '',  // Текст нового комментария
      isLoggedIn: false,   // Флаг, указывающий, авторизован ли пользователь
    };
  },
  methods: {
    // Отправьте GET-запрос на сервер для получения комментариев
    // Функция для добавления комментария
    addComment() {
      if (!this.newCommentText) {
        return; // Предотвращаем отправку пустого комментария
      }
      // Отправьте POST-запрос на сервер для добавления комментария
      // Замените 'articleId' на актуальный идентификатор статьи
      axios.post(`http://localhost:8080/api/v1/comments`, {
        text: this.newCommentText
      })
          .then(response => {
            // Очистите поле ввода и обновите список комментариев
            this.newCommentText = '';
            this.comments.push(response.data);
          })
          .catch(error => {
            console.error('Ошибка при добавлении комментария:', error);
          });
    },
  },
  mounted() {
    // Отправьте запрос на сервер, чтобы получить список комментариев для данной статьи
    // Обновите this.comments с данными, полученными с сервера
    // Проверьте, авторизован ли пользователь, чтобы решить, показывать ли форму для добавления комментариев
    axios.get(`http://localhost:8080/api/v1/comments?articleId=${articleId}`)
        .then(response => {
          this.comments = response.data;
        })
        .catch(error => {
          console.error('Ошибка при получении комментариев:', error);
        });
  },
};
</script>

<style scoped>
/* Здесь вы можете добавить стили для компоненты CommentsView.vue */
</style>