<template>
  <div class="user-info">
    <div v-if="currentUser">
      {{ currentUser.username }}
      <button v-if="currentUser.role === 'admin'" @click="redirectToAdminPanel">Админ-панель</button>
    </div>
    <div v-else>
      <router-link to="/login" class="login-button">Войти в аккаунт</router-link>
    </div>
  </div>
  <h1 class="home-title">Главная</h1>
  <div class="article-list">
    <div v-for="article in latestArticles" :key="article.id" class="article">
      <h2 class="article-title">{{ article.title }}</h2>
      <div class="article-content">
      <img :src="article.imageUrl" alt="Изображение" class="article-image">
      <p class="article-text">{{ article.text }}</p>
      </div>
      <p class="article-author">Автор: {{ article.author.username }}</p>
      <p class="article-date">Дата публикации: {{ formatDate(article.publicationDate) }}</p>
      <!-- Добавляем кнопку для добавления комментариев -->
      <button v-if="currentUser" @click="addComment(article.id)">Добавить комментарий</button>
      <!-- Показываем комментарии к статье -->
      <div v-for="comment in article.comments" :key="comment.id">
        <p>{{ comment.text }}</p>
        <button v-if="currentUser" @click="addComment(article.id)">Добавить комментарий</button>
        <!-- Проверяем права пользователя на редактирование и удаление комментария -->
        <button v-if="canEditComment(comment)" @click="editComment(comment.id)">Редактировать</button>
        <button v-if="canDeleteComment(comment)" @click="deleteComment(comment.id)">Удалить</button>
      </div>
    </div>
  </div>
</template>
<script>
import {useRouter} from 'vue-router';
import {computed} from 'vue';
import axios from 'axios';
import {useAuthStore} from '@/stores/counter.js';

export default {
  data() {
    return {
      latestArticles: [],
      currentUser: null, // Изначально устанавливаем currentUser в null
    };
  },
  async mounted() {
    const authStore = useAuthStore();
    this.currentUser = authStore.getCurrentUser();
    const token = localStorage.getItem('token')
    // Get the current user from the store
    if(token){
      axios.defaults.headers.common['Authorization']=`Bearer ${token}`
    }
    await  this.loadLatestArticles();

  },
  computed: {
    currentUser() {
      const authStore = useAuthStore();
      return authStore.getCurrentUser();
    },
  },
  methods: {
    async loadLatestArticles() {
      try {
        const response = await axios.get('http://localhost:8080/api/v1/articles/latest-articles');
        this.latestArticles = response.data;
      } catch (error) {
        console.error(error);
      }
    },
    async addComment(articleId) {
      if (this.currentUser) {
        try {
          const authStore = useAuthStore(); // Получаем доступ к хранилищу авторизации
          const token = localStorage.getItem('token')// Получаем Bearer токен

          const headers = {
            Authorization: `Bearer ${token}`,
          };
          const response = await axios.post(`http://localhost:8080/api/v1/comments`, {
            text: 'Ваш текст комментария', // Замените на текст вашего комментария
          },{headers});
          // Обработка успешного добавления комментария
        } catch (error) {
          console.error(error);
          // Обработка ошибки при добавлении комментария
        }
      } else {
        this.redirectToLogin();
      }
    },
    redirectToAdminPanel() {
      const router = useRouter();
      router.push('/admin-panel'); // Замените '/admin-panel' на путь к вашей административной панели
    },
    // Проверка прав на редактирование комментария
    canEditComment(comment) {
      const authStore = useAuthStore(); // Получаем доступ к хранилищу авторизации
      const token = localStorage.getItem('token'); // Получаем Bearer токен

      const headers = {
        Authorization: `Bearer ${token}`,
      };
      if (!this.currentUser) {
        return false; // Пользователь не аутентифицирован
      }
      if (this.currentUser.role === 'admin' || comment.userId === this.currentUser.id) {
        return true; // Администратор или автор комментария
      }
      return false;
    },
    async editComment() {
      try {
        const authStore = useAuthStore(); // Получаем доступ к хранилищу авторизации
        const token = localStorage.getItem('token') // Получаем Bearer токен

        const headers = {
          Authorization: `Bearer ${token}`,
        };
        const response = await axios.put(`http://localhost:8080/api/v1/comments`, {
          text: 'Новый текст комментария', // Замените на новый текст комментария
        },{headers});
        // Обработка успешного редактирования комментария
      } catch (error) {
        console.error(error);
        // Обработка ошибки при редактировании комментария
      }
    },
    async deleteComment(commentId) {
      try {
        const authStore = useAuthStore(); // Получаем доступ к хранилищу авторизации
        const token = localStorage.getItem('token') // Получаем Bearer токен

        const headers = {
          Authorization: `Bearer ${token}`,
        };
        const response = await axios.delete(`http://localhost:8080/api/v1/comments/${commentId}`,{headers});
        // Обработка успешного удаления комментария
      } catch (error) {
        console.error(error);
        // Обработка ошибки при удалении комментария
      }
    },
    // Проверка прав на удаление комментария
    canDeleteComment(comment) {
      if (!this.currentUser) {
        return false; // Пользователь не аутентифицирован
      }
      if (this.currentUser.role === 'admin' || comment.userId === this.currentUser.id) {
        return true; // Администратор или автор комментария
      }
      return false;
    },
    redirectToLogin() {
      const router = useRouter();
      router.push('/login'); // Перенаправление на страницу входа
    },
    formatDate(date) {
      const options = {year: 'numeric', month: 'long', day: 'numeric'};
      return new Date(date).toLocaleDateString('ru-RU', options);
    },
  },
};
</script>

<style scoped>
.article-content {
  display: flex; /* Используем Flexbox для размещения элементов внутри .article-content */
  align-items: flex-start; /* Размещаем элементы по верхнему краю контейнера */
}
.home-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.article-list {
  display: block; /* Изменить на блочное отображение */
}

.article {
  width: 100%; /* Расширить статью на всю ширину */
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px; /* Добавить отступ между статьями */
  overflow: hidden; /* Добавить скрытие изображения, если текст длинный */
}

.article-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.article-image {
  width: 500px; /* Установите ширину изображения по вашему выбору */
  max-height: 500px; /* Ограничьте максимальную высоту изображения */
  margin-right: 20px; /* Отступ справа от изображения для разделения от текста */
}

.article-text {
  font-size: 16px;
  flex-grow: 1; /* Растягиваем текст на всю доступную ширину */
}

.article-author {
  font-weight: bold;
}

.article-date {
  font-style: italic;
  color: #888;
}

.login-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #cccccc; /* Бежевый цвет */
  color: #333; /* Цвет текста */
  border: 1px solid #ccc; /* Рамка вокруг кнопки */
  border-radius: 5px; /* Скругленные углы */
  text-decoration: none; /* Убираем подчеркивание текста в ссылке */
  font-weight: bold;
  transition: background-color 0.3s ease; /* Плавное изменение цвета фона при наведении */
}

.login-button:hover {
  background-color: #e0d2c3; /* Более темный бежевый цвет при наведении */
}
</style>