<template>
  <div class="registration-view">
    <h1>Регистрация</h1>
    <form @submit.prevent="registerUser">
      <div class="form-group">
        <label for="username" class="form-group__title">Email:</label>
        <input type="text" id="username" v-model="user.username" required>
      </div>
      <div class="form-group">
        <label for="firstname" class="form-group__title">Имя:</label>
        <input type="text" id="firstname" v-model="user.firstname" required>
      </div>
      <div class="form-group">
        <label for="lastname" class="form-group__title">Фамилия:</label>
        <input type="text" id="lastname" v-model="user.lastName" required>
      </div>
      <div class="form-group">
        <label for="password" class="form-group__title">Пароль:</label>
        <input type="password" id="password" v-model="user.password" required>
      </div>
      <div class="form-group">
        <label for="passwordConfirmation" class="form-group__title">Подтверждение пароля:</label>
        <input type="password" id="passwordConfirmation" v-model="user.passwordConfirmation" required>
      </div>
      <button type="submit" class="form-group__title">Зарегистрироваться</button>
    </form>
    <router-link to="/login" class="login-button">Войти в аккаунт</router-link>
    <div v-if="registrationMessage" class="registration-message">{{ registrationMessage }}</div>
  </div>
</template>

<script>
import axios from 'axios';
import {useRouter} from "vue-router";
import {useAuthStore} from '@/stores/counter.js';
export default {
  data() {
    return {
      user: {
        username: '',
        firstname: '',
        lastName: '',
        password: '',
        passwordConfirmation: ''
      },
      registrationMessage: ''
    };
  },
  methods: {
    async registerUser() {
      try {
        const response = await axios.post('http://localhost:8080/api/v1/auth/register', this.user);
        this.registrationMessage = response.data.message;
        useAuthStore().setCurrentUser(this.user);
      } catch (error) {
        if (error.response && error.response.status === 400 && error.response.data === "Пользователь уже существует.") {
          this.registrationMessage = "Пользователь с таким именем уже существует.";
        } else {
          this.registrationMessage = 'Ошибка при регистрации. Пожалуйста, проверьте данные и попробуйте снова.';
        }
      }
    },
    redirectToLogin() {
      const router = useRouter();
      router.push('/login'); // Перенаправление на страницу входа
    },
  },
};
</script>

<style scoped>
/* Стили для вашего компонента */
.registration-view {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #d1cab8;
  border-radius: 5px;
}
.form-group {
  margin-bottom: 20px;
  margin-right: 20px;
}
.form-group__title {
  margin-bottom: 5px;
}
label {
  display: block;
  font-weight: bold;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 20px;
}
.login-button {
  text-decoration: none; /* Remove underline */
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 8px 14px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}
.registration-message {
  margin-top: 10px;
  color: #ff0000;
}
</style>