<template>
  <div>
    <h2>Управление пользователями</h2>
    <!-- Вывод списка пользователей -->
    <ul>
      <li v-for="user in users" :key="user.id">
        {{ user.username }}
        <button @click="editUser(user)">Редактировать</button>
        <button @click="deleteUser(user.id)">Удалить</button>
      </li>
    </ul>
    <!-- Форма для создания нового пользователя -->
    <h3>Создать нового пользователя</h3>
    <form @submit.prevent="createUser">
      <input v-model="newUser.username" placeholder="Имя пользователя" required>
      <input v-model="newUser.password" placeholder="Пароль" type="password" required>
      <button type="submit">Создать</button>
    </form>
  </div>
</template>
<script>
import axios from 'axios';
export default {
  data() {
    return {
      users: [],           // Список пользователей
      newUser: {
        username: '',
        password: '',
      },
      authToken: '', // Store the JWT token here
    };
  },
  methods: {
    // Получение списка пользователей
    async fetchUsers() {
      try {
        const response = await axios.get('http://localhost:8080/api/v1/user', {
          headers: {
            'Authorization': `Bearer ${this.authToken}`,
          },
        });
        this.users = response.data;
      } catch (error) {
        console.error('Ошибка при получении списка пользователей:', error);
      }
    },
    // Создание нового пользователя
    async createUser() {
      try {
        const response = await axios.post('/api/v1/user', this.newUser);
        this.users.push(response.data);
        // Очистить форму после создания
        this.newUser.username = '';
        this.newUser.password = '';
      } catch (error) {
        console.error('Ошибка при создании пользователя:', error);
      }
    },
    // Редактирование пользователя
    async editUser(user) {
      try {
        const response = await axios.put(`/api/v1/user/${user.id}`, user);
        const updatedUser = response.data;

        // Найдем индекс пользователя в массиве и заменим его
        const index = this.users.findIndex(u => u.id === updatedUser.id);
        if (index !== -1) {
          this.users[index] = updatedUser;
        }
      } catch (error) {
        console.error('Ошибка при редактировании пользователя:', error);
      }
    },
    // Удаление пользователя
    async deleteUser(userId) {
      try {
        await axios.delete(`/api/v1/user/${userId}`);

        // Удалить пользователя из массива
        this.users = this.users.filter(user => user.id !== userId);
      } catch (error) {
        console.error('Ошибка при удалении пользователя:', error);
      }
    },
  },
  mounted() {
    // При монтировании компонента получаем список пользователей
    this.fetchUsers();
  },
};
</script>
<style scoped>
div {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #e1e1e1;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

h2, h3 {
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e1e1e1;
  padding: 8px 0;
}
</style>